@charset "UTF-8";

body{
	width:100%;
	height:200vh;
	background:linear-gradient(45deg,#3bade3,#9844b7,#44ea76);
	background-size:200% 200%;
	animation:bggradient 20s ease infinite;
}

@keyframes bggradient{
	0%{
		background-position:0% 50%;
	}
	50%{
		background-position:100% 50%;
	}
	100%{
		background-position:0% 50%;
	}
}

header{
	position:fixed;
	height:150px;
	width:100%;
	display:flex;
	align-items:center;
	background-color:black;
	color:white;
	z-index:9;
}

h1{
	display:block;
	position:absolute;
	left:5%;
	font-size:80px;
	letter-spacing:0.1em;
	font-family: 'Fugaz One', cursive;
}

h2{
	font-family: 'Fugaz One', cursive;
}

ul{
	position:relative;
	top:8%;
	left:40%;
	display:flex;
	list-style:none;
	letter-spacing:0.1em;
	margin:0 0 0 10%;
}

li{
	margin:0 30px;

}

a{
	text-decoration:none;
	color:white;
}

#space{
	width:100%;
	height:20vh;
	position:relative;
}

#container{
	position:relative;
	width:100%;
	height:190vh;
}

main{
	position:relative;
	width:90%;
	height:100vh;
	margin:0 auto;
}

section{
	display:flex;
	width:100%;
	margin:50px auto 100px;
	justify-content:space-between;
	align-items:center;
}

section div{
	padding:0;
	margin:0;
}

img{
	width:45%;
	min-height:600px;
}

.contents{
	width:20%;
	white-space:nowrap;
}

.btn{
	position:relative;
	overflow:hidden;
	display:inline-block;
	border:1px solid #555;
	border-radius:5px;
	padding:10px 30px;
	text-align:center;
	outline:none;
	transition:ease .2s;
	background-color:white;
}

.btn span{
	position:relative;
	z-index:2;
	color:black;
}

.btn:hover span{
	color:#fff;
}

.bgleft:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	background:#333;
	width:100%;
	height:100%;
	transition:transform .6s cubic-bezier(0.8,0,0.2,1) 0s;
	transform:scale(0, 1);
	transform-origin:right top;
}

.bgleft:hover:before{
	transform-origin:left top;
	transform:scale(1, 1);
}
