@charset "UTF-8";

header{
	position:fixed;
	height:150px;
	width:100%;
	display:flex;
	align-items:center;
	background-color:black;
	color:white;
	z-index:9;
}

h1{
	display:block;
	position:absolute;
	left:5%;
	font-size:80px;
	letter-spacing:0.1em;
}

ul{
	position:relative;
	top:8%;
	left:40%;
	display:flex;
	list-style:none;
	letter-spacing:0.1em;
	margin:0 0 0 10%;
}

li{
	margin:0 30px;

}

a{
	text-decoration:none;
	color:white;
}

#space{
	width:100%;
	height:20vh;
	position:relative;
}

#container{
	position:relative;
	width:100%;
	height:200vh;
}

main{
	position:relative;
	width:90%;
	height:100vh;
	margin:0 auto;
}

section{
	display:flex;
	width:100%;
	margin:50px auto 100px;
	justify-content:space-between;
	align-items:center;
}

section div{
	padding:0;
	margin:0;
}

img{
	width:49%;
	min-height:650px;
}

.contents{
	width:40%;
	white-space:nowrap;
}


